.week-day {
  padding-left: 0;
  padding-right: 0;
  border-right: #939393 1px solid;
  height: 960px;
}

.width-100-57 {
  width: calc(100% - 4rem);
}

.position-relative {
  position: relative;
}

.day-name-short {
  display: none;
}

@media (max-width: 768px) {
  .day-name-short {
    display: inherit;
  }
  .day-name-long {
    display: none;
  }
}

.GENA3c {
  position: relative;
  border-right: #e0e0e0 1px solid;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eh5oYe .GENA3c .Pgg38c {
  height: 20px
}


.s4ZaLd:first-child>.ebZ3od {
  display: none
}

.ebZ3od {
  display: block;
  position: relative;
  top: -12px
}

.s4ZaLd {
  position: relative;
  height: 40px;
  text-align: center
}

.MANBAf {
  font-size: 10px;
  color: #212121;
}

.eh5oYe .GENA3c .Pgg38c {
  height: 20px
}

.Pgg38c {
  display: block;
  visibility: hidden;
  overflow-y: hidden;
  height: 0;
  /*max-width: 80px*/
}

.Pgg38c.TzA9Ye {
  display: inline-block
}

.Pgg38c.Xc6hQ {
  margin-left: 1px
}

.pCoqfc,
.MANBAf {
  font-size: 14px;
  color: #212121
}

.mmsF1c {
  height: 40px;
}

.mmsF1c:after {
  content: '';
  border-bottom: #e0e0e0 1px solid;
  position: absolute;
  width: calc(100% - 4rem);
  margin-top: -1px;
  z-index: 3;
  pointer-events: none;
}

.mmsF1c.p5Naze:after {
  content: none
}
