<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-5 col-lg-1">
      <form>
        <select [(ngModel)]="fromDay" name="fromDay">
          <option *ngFor="let day of day_names" [ngValue]="day.number">{{day.long}}</option>
        </select>
        <div *ngFor="let day of day_names">
          <label>
            <input type="checkbox"
                   name="days"
                   value="{{day.number}}"
                   [(ngModel)]="day.checked"/>
            {{day.long}}
          </label>
        </div>
        <button class="btn btn-primary" (click)="copy()">Copy</button>
      </form>
      <form >
        <div class="form-group">

          <label for="keep">Keep</label>
          <input type="checkbox" id="keep">
        </div>

      </form>
      <div>Local temperature: {{localTemp}} C°</div>
      <div>Local time: {{localTime}}</div>
    </div>
    <div class="col-lg-11 col-xs-12">
      <app-week></app-week>

    </div>
  </div>
</div>
