<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 col-xs-12">
      <form>
        <select>
          <option *ngFor="let day of day_names" value="{{day.number}}">{{day.long}}</option>
        </select>
        <div *ngFor="let day of day_names"><input type="checkbox" value="{{day.number}}">{{day.long}}</div>
        <button class="btn btn-primary">Copy</button>
      </form>
      <form >
        <div class="form-group">

          <label for="keep">Keep</label>
          <input type="checkbox" id="keep">
        </div>

      </form>
    </div>
    <div class="col-lg-11 col-xs-12">
      <app-week></app-week>

    </div>
  </div>
</div>
